@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300..800&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-40deg, #0a0a42, #5353f7, darkblue) ;

}

header {
    display: flex;
    background-image: linear-gradient(43deg, #1492cc, #a5e6f1, #3ae3e9);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
header img {
    height: 60px;
    transition: 0.2s;
}
header img:hover {
    opacity: 0.7;
}
header nav a {
    font-size: 1.125em;
    margin-right: 20px;
    text-decoration: none;
    color: #04407c;
    transition: 0.2s;
    font-weight: 600;
}
header nav i {
    font-size: 25px;
    background-color: #10719e;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
}
header a:hover {
    text-shadow: 0 0 40px #04407c;
}

.side {
    display: flex;
    justify-content: end;
}
.sidebar {
    right: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffff94;
    backdrop-filter: blur(10px);
    gap: 20px;
}
.sidebar a {
    font-size: 1.125em;
    margin-right: 20px;
    text-decoration: none;
    color: #04407c;
    transition: 0.2s;
    font-weight: 600;
    width: 100%;
    padding: 10px 20px;
}
.sidebar a:hover {
    background-color: #a8a8a8;
}

.x {
    color: #10719e;
    padding: 0.3em 0.5em;
    font-size: 2em;
    margin-right: 0.7em;
    border-radius: 5px;
    cursor: pointer;
}
.hamburger {
    display: none;
    color: white;
    padding: 0.3em 0.5em;
    font-size: 1.1em;
    background-color: #10719e;
    margin-right: 0.7em;
    border-radius: 5px;
    cursor: pointer;
}




section {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.main {
    background: url(assets/bg.jpg) no-repeat;
    background-size: cover;
    height: 99vh;
    margin-top: 4em;
}
.main h5 {
    font-size: 1.2em;
    color: #fff;
}
.main h4 {
    font-size: 2.7em;
    background-image: linear-gradient(43deg, #2f14cc, #30a6bb, #3ae3e9, #fff);
    width: 220px;
    -webkit-background-clip: text;
    color: transparent;
}
.main h2 {
    color: #fff;
}







.titles {
    color: #ebf0f3;
    text-align: center;
    padding: 30px 0;
    font-size: 1.7em;
}

.skills .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.skills .container .cards {
    box-shadow: 0px 0px 10px #e7e7e7,
                        0px 0px 10px #e7e7e7 inset;
    border: 4px solid #e7e7e7 ;
    width: 250px;
    padding: 10px;
    height: 370px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills .container .cards i {
    font-size: 3.75em;
    padding-bottom: 10px;
}
.skills .container .cards h1 {
    text-align: center;
}
.skills .container .cards p {
    text-align: center;
}


.about p {
    padding: 10px;
    border: 4px solid;
    color: #e7e7e7;
    font-size: 1.3em;
    border-radius: 10px;
}


.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e7e7;
    border: 4px solid;
    border-radius: 10px;
    padding: 10px;
}
.container2 p {
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
}
.container2 nav, .mail {
    display: flex;
    gap: 20px;
    padding: 30px 5px;
}
.container2 a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 2.2em;
    transition: 0.4s;
}
.facebook:hover {
    color: #1877f2;
    scale: 1.1;
}
.instagram:hover {
    color: #833ab4;
    scale: 1.1;
}
.youtube:hover {
    color: #ff0000;
    scale: 1.1;
}
.github:hover {
    color: #333;
    scale: 1.1;
}
.mail:hover {
    scale: 1.1;
}


footer {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer img{
    height: 4em;
}
footer p {
    font-size: 1.3em;
    color: #e7e7e7;
    font-weight: bold;
}





@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .hamburger {
        display: block;
    }
    .skills .container .cards {
        height: 550px;
    }
}

@media(max-width: 500px) {
    .sidebar {
        width: 100%;
    }
    .skills .container .cards {
        height: 500px;
    }
}